body {
    padding-top: 50px;
}

.siege {
    padding: 40px 15px;
    text-align: center;
}

.image {
    float: right;
    text-align: center;
}

.snow-pictures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.snow-pictures img {
	margin: 0;
	width: 50%;
	height: 50%;
}

