body {
    padding-top: 50px;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Fira Sans', sans-serif;
}

.image {
    float: right;
    text-align: center;
}

.snow-pictures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.snow-pictures img {
	margin: 0;
	width: 50%;
	height: 50%;
}

.mugshot-header {
	display: flex;
	flex-direction: column;
	max-width: 20em;

    text-align: center;
}

.mugshot-img {
	filter: brightness(1.25);
}

.mugshot-header > h3 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.mugshot-header > a {
	color: wheat;
}

section:not(.about-section) {
	padding-top: 4em;
}

.about-section {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: #555;
	color: whitesmoke;
}

.section-header {
    text-align: center;
	padding-left: 0em;
	padding-bottom: 0em;
}

.section-header > h1 {
	text-align: left;
	margin: 0;
	margin-bottom: 0.25em;
}

.section-header > h1 > img {
	display: inline-block;
	height: 1em;
	position: relative;
	bottom: 0.125em;
	margin-right: 0.25em;
}

.container > .sub-link {
	color: #606060;
}

.container > .sub-header {
	display: flex;
	flex-direction: column;

	border: solid 2px #8ff0dc;
	border-radius: 0.25em;
	background-color: #bcf6ea;
	padding: 1em;
	margin-bottom: 1em;
}

.container > .sub-header > h4 {
	margin-top: 0;
}

.header-box {
	display: flex;
	flex-direction: column;
}

.mugshot-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.mugshot-box > .mugshot-img {
	height: 15em;
	margin-bottom: 0em;
}

.skills-summary {
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	padding-top: 1em;
	padding-bottom: 1em;
}

.skills-summary > .header {
	text-align: left;
	margin-top: 0em;
}

.skills-summary > .skills-list {
	text-align: left;
	clear: both;
	margin-bottom: 0;
}

.octocat-link {
	height: 1em;
}

.link-block {
	background-color: #757575;

	margin-top: 1em;
	padding-bottom: 1em;
	padding-top: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.link-block > .title {
	padding-top: 0em;
	margin-top: 0em;
}

.link-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
}

.link-row > a {
	display: flex;
	flex-direction: column;
	color: wheat;
}

.link-row > a > img {
	height: 5em;
	width: auto;
}

.navbar {
	height: 2em;
}

.navbar-header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 60em;

	float: none !important;
}

.pixel-img {
	image-rendering: pixelated;
}
